
PORT=3000

# Notion (DATABASE=todo, WORK=calendar)
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_WORK_ID=

# Slack (for reminders, see README)
SLACK_APP_ID=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_WEBHOOK_URL=


# Home Assistant (HOUSE = button1, UPSTAIRS = button2)
HA_IP=
ACCESS_TOKEN=
HOUSE_ENTITY_NAME=
UPSTAIRS_ENTITY_NAME=

