
PORT=3000

# Notion (DATABASE=todo, WORK=calendar, DATES=countdowns)
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_WORK_ID=
NOTION_DATES_ID=

# Slack (for reminders, see README)
SLACK_APP_ID=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_WEBHOOK_URL=


# Home Assistant
HA_IP=
ACCESS_TOKEN=
BOSS_EQ_ENTITY_NAME=
OFFICE_LIGHT_ENTITY_NAME=
OFFICE_HIGH_SCENE_ENTITY_NAME=
OFFICE_LOW_SCENE_ENTITY_NAME=
